$taskBkg: rgba(0, 0, 0, 0.03);
$taskBkgSelected: #f9ffff;

:host {
    display: block;
    background: $taskBkg;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 16px;
}

:host:hover {
    background: $taskBkgSelected;
}
