$taskBkg: rgba(0, 0, 0, 0.03);

:host {
    display: block;
}

.container {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0;
    background: $taskBkg;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    padding: 16px;
    transition: background 0.15s ease-out;

    .edit-button, .remove-button {
        opacity: 0;
    }

    &:hover {
        background: rgb(252, 252, 252);

        .edit-button, .remove-button {
            opacity: 100%;
        }
    }

    &.selected {
        background: rgb(255, 252, 227);

        .edit-button, .remove-button {
            opacity: 75%;
        }
    }
}

input[type="checkbox"] {
    align-self: center;
    width: 24px;
    height: 24px;
}

.input-title {
    font-size: 18px;
    font-weight: 400;
}

.dueTime,
.description {
    font-size: 15px;
    font-weight: 300;
}

.task-values {
    margin-left: 16px;
    margin-right: 16px;
    flex: 1;
    align-self: center;

    input {
        display: block;
        background: none;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 5px;
    }

    input:hover,
    input:active {
        background: rgba(255, 255, 255, 0.123);
        border: 1px solid black;
    }

    .hidden {
        display: none;
        visibility: collapse;
    }
}

p {
    margin: 0;
    padding: 0;
}

button {
    align-self: center;
    justify-self: flex-end;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    padding: 0;
    background: 0;
    border: none;
}

button[type="submit"] {
    margin-right: 8px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.144);
}
