@import "../../../styles.scss";

h3.ghost-text {
    margin: 16px;
    opacity: 50%;
    font-weight: 200;
}

.list-edit {
    height: 100%;
    position: relative;

    .tasks-container {
        height: 80vh;
        overflow-y: auto;

        app-task {
            margin: 16px;
        }
    }

    .new-task-form-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 64px;

        app-new-task-form {
            padding: 8px;
        }
    }
}
