@import '../../../styles.scss';


input {
    @extend .form-control;
    width: 400px;
    display: inline-block;
}

button[type="submit"] {
    @extend .btn, .btn-outline-primary;
    display: inline-block;
}
